@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.6;
  /* font-family: Arial, Helvetica, sans-serif; */

}


#wrapper {
  position: relative;
  width: 100%;
  min-height: 55vw;
  overflow: hidden;
}

.layer {
  position: absolute;
  width: 100vw;
  min-height: 55vw;
  overflow: hidden;
}

.layer .content-wrap {
  position: absolute;
  width: 100vw;
  min-height: 55vw;
}

.layer .content-body {
  width: 25%;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  color: #fff;
}

.layer img {
  position: absolute;
  width: 35%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.layer h1 {
  font-size: 2em;
}

.bottom{
  background: #222;
  z-index: 1;
}

.bottom .content-body{
  right:5%;
}

.bottom h1 {
  color: #fdab00;
}

.top{
  background: #eee;
  color: #222;
  z-index: 2;
  width: 50vw;
}

.top .content-body{
  left: 5%;
  color: #222;
}

.handle{
  position: absolute;
  height: 100%;
  display: block;
  /*background-color: #fdab00;*/
  background-color: #4286f4;
  width: 5px;
  top: 0;
  left: 50%;
  z-index: 3;
}

.skewed .handle {
  top: 50%;
  transform: rotate(30deg) translateY(-50%);
  height: 200%;
  transform-origin: top;

}

.skewed .top{
  transform: skew(-30deg);
  margin-left: -1000px;
  width: calc(50vw + 1000px);
}

.skewed .top .content-wrap {
  transform: skew(30deg);
  margin-left: 1000px;
}

@media(max-width:768px){
  body{
    font-size: 75%;
  }
}

.nyt {
  position: relative;
  margin-top: 35vh;
}

.sooke {
  color: #fff;
}

.basic h1 {
  font-family: 'Allerta Stencil', sans-serif;
}

} */
.image-column{
  position:absolute;
  display:block;
  top:0;
  z-index:0;
  bottom:0;
  width:50%;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:top
}

/* .section-container{
  padding:80px 0
} */

.section-half-background-image-container{
  position:relative;
  background-color:#eee;
  padding:80px 0 100px;
}

.text-column{
  /* padding:50px; */
  /* position:relative; */
  /* z-index:3; */
}
.description, .razor{
  float: left;
  width: 50%;
}


/* css for modal*/
#modalBtn:hover {
  background:#333
}

.modal{
  display: none;
  position: fixed;
  z-index:1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}

.modal-content {
  background-color: #f4f4f4;
  margin: 10% auto;
  width: 50%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name: modalopen;
  animation-duration: 3s;
}

.modal-header h2, .modal-footer h3 {
  margin:0;
}

.modal-header{
  background: #333;
  padding: 15px;
  color: #fff;
  text-align: center;
}

.modal-body {
  padding: 10px 20px;
}

.modal-content img{
  height: 100%;
  width: 100%;
}

.modal-footer {
  background:#333;
  padding: 10px;
  color: white;
  text-align: center;
}

.closeBtn {
  color: #ccc;
  float: right;
  font-size: 15px;
  /* color: #fff; */
}

.closeBtn:hover, .closeBtn:focus {
  color:#000;
  text-decoration: none;
  cursor: pointer;
}



@keyframes modalopen {
  from {opacity: 0}
  to {opacity:: 3}
}
